@media (max-width: 992px){


.header__inner{
	flex-wrap: wrap;
	height: auto;
	padding-top: 25px;
}

.menu{
	width: 100%;
	order: 1;
}

.menu__list{
	justify-content: flex-end;
	padding-top: 25px;
}


}
